In [14]:
import numpy as np
import pandas as pd

In [15]:
#Read information from file into pandas dataframe
#Movies are highly rated according to rottentomatoes.com
ratings = pd.read_csv('ratings.csv')
ratings

,name,SPIDER-MAN:NO WAY HOME,THE SUICIDE SQUAD,DUNE,NO TIME TO DIE,BLACK WIDOW,GODZILLA VS KONG
0,Nathan,3.0,3,NaN,4,2,5.0
1,Dylan,NaN,3,5.0,2,3,NaN
2,Jacob,4.0,3,NaN,4,4,1.0
3,Dawson,3.0,4,4.0,2,2,NaN
4,Charlie,5.0,1,4.0,4,3,4.0

In [16]:
#Show the average ratings for each user and each movie
ratings.mean()

SPIDER-MAN:NO WAY HOME    3.750000
THE SUICIDE SQUAD         2.800000
DUNE                      4.333333
NO TIME TO DIE            3.200000
BLACK WIDOW               2.800000
GODZILLA VS KONG          3.333333
dtype: float64

In [17]:
ratings.set_index('name', inplace=True)
ratings.mean(axis=1)

name
Nathan     3.40
Dylan      3.25
Jacob      3.20
Dawson     3.00
Charlie    3.50
dtype: float64

In [21]:
ratings.fillna(value=0, inplace=True)
normalized = (ratings - ratings.min()) / (ratings.max() - ratings.min())
normalized

,SPIDER-MAN:NO WAY HOME,THE SUICIDE SQUAD,DUNE,NO TIME TO DIE,BLACK WIDOW,GODZILLA VS KONG
name,,,,,,
Nathan,0.6,0.666667,0.0,1.0,0.0,1.0
Dylan,0.0,0.666667,1.0,0.0,0.5,0.0
Jacob,0.8,0.666667,0.0,1.0,1.0,0.2
Dawson,0.6,1.000000,0.8,0.0,0.0,0.0
Charlie,1.0,0.000000,0.8,1.0,0.5,0.8

In [22]:
normalized.mean()

SPIDER-MAN:NO WAY HOME    0.60
THE SUICIDE SQUAD         0.60
DUNE                      0.52
NO TIME TO DIE            0.60
BLACK WIDOW               0.40
GODZILLA VS KONG          0.40
dtype: float64

In [23]:
normalized.mean(axis=1)

name
Nathan     0.544444
Dylan      0.361111
Jacob      0.611111
Dawson     0.400000
Charlie    0.683333
dtype: float64